#UCF file for the Tracker V boards and T boards
#R. Johnson
#Power enable for the regulators that power the 12 ASICs
#September 24, 2013, reverse the address order to match markings on the switch
#October 1, 2013, move the address order back the way it was.  Has to be so on T boards!
NET "PWREN" LOC= P11 | IOSTANDARD = LVCMOS25;   

#Address pins
NET "Address0" LOC = R7 | IOSTANDARD = LVCMOS25;
NET "Address1" LOC = T7 | IOSTANDARD = LVCMOS25;
NET "Address2" LOC = P6 | IOSTANDARD = LVCMOS25;
NET "Address3" LOC = T6 | IOSTANDARD = LVCMOS25;

#The following 4 lines are the only ones that differ between even and odd FPGAs on T boards
#Pins for inter-FPGA communication on T boards, for even FPGA
NET "INTER1P" LOC = P7 | IOSTANDARD = LVDS_25;
NET "INTER1N" LOC = M7 | IOSTANDARD = LVDS_25;
NET "INTER2P" LOC = M12 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "INTER2N" LOC = M11 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#Pins for inter-FPGA communication on T boards, for odd FPGA
#NET "INTER1P" LOC = M12 | IOSTANDARD = LVDS_25;
#NET "INTER1N" LOC = M11 | IOSTANDARD = LVDS_25;
#NET "INTER2P" LOC = P7 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#NET "INTER2N" LOC = M7 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;

#100 MHz clock from the event builder
NET "CLKIN_P" LOC = C9 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "CLKIN_N" LOC = A9 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;

NET "CLK" TNM_NET = "CLK";
TIMESPEC "TS_CLK" = PERIOD "CLK" 10 ns HIGH 50%;
OFFSET = IN 10 ns VALID 9 ns BEFORE "CLK";

#Clocks going to the two sets of 6 ASICs
NET "CLKOUT1_P" LOC=P8 | IOSTANDARD = LVDS_25;
NET "CLKOUT1_N" LOC=T8 | IOSTANDARD = LVDS_25;
NET "CLKOUT2_P" LOC=M6 | IOSTANDARD = LVDS_25;
NET "CLKOUT2_N" LOC=N6 | IOSTANDARD = LVDS_25;

#Commands going to the two sets of 6 ASICs
NET "CMD1_P" LOC=R9 | IOSTANDARD = LVDS_25;
NET "CMD1_N" LOC=T9 | IOSTANDARD = LVDS_25;
NET "CMD2_P" LOC=L8 | IOSTANDARD = LVDS_25;
NET "CMD2_N" LOC=L7 | IOSTANDARD = LVDS_25;

#Hard reset signals going to the two sets of ASICs
NET "RSTchp1_P" LOC=N9 | IOSTANDARD = LVDS_25;
NET "RSTchp1_N" LOC=P9 | IOSTANDARD = LVDS_25;
NET "RSTchp2_P" LOC=N5 | IOSTANDARD = LVDS_25;
NET "RSTchp2_N" LOC=P5 | IOSTANDARD = LVDS_25;

#Fast-OR trigger signals coming fromt the 12 ASICs
NET "TReq0_P" LOC=M5 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "TReq0_N" LOC=N4 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "TReq1_P" LOC=R2 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "TReq1_N" LOC=R1 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "TReq2_P" LOC=P2 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "TReq2_N" LOC=P1 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "TReq3_P" LOC=N3 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "TReq3_N" LOC=N1 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "TReq4_P" LOC=M2 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "TReq4_N" LOC=M1 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "TReq5_P" LOC=L3 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "TReq5_N" LOC=L1 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "TReq6_P" LOC=K2 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "TReq6_N" LOC=K1 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "TReq7_P" LOC=J3 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "TReq7_N" LOC=J1 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "TReq8_P" LOC=H2 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "TReq8_N" LOC=H1 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "TReq9_P" LOC=G3 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "TReq9_N" LOC=G1 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "TReqA_P" LOC=F2 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "TReqA_N" LOC=F1 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "TReqB_P" LOC=K3 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "TReqB_N" LOC=J4 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;

#Data streams coming from the 12 ASICs
NET "Data0_P" LOC=B15 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "Data0_N" LOC=B16 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "Data1_P" LOC=F12 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "Data1_N" LOC=G11 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "Data2_P" LOC=D14 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "Data2_N" LOC=D16 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "Data3_P" LOC=F13 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "Data3_N" LOC=F14 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "Data4_P" LOC=C15 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "Data4_N" LOC=C16 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "Data5_P" LOC=E15 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "Data5_N" LOC=E16 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "Data6_P" LOC=F15 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "Data6_N" LOC=F16 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "Data7_P" LOC=G14 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "Data7_N" LOC=G16 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "Data8_P" LOC=H15 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "Data8_N" LOC=H16 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "Data9_P" LOC=G12 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "Data9_N" LOC=H11 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "DataA_P" LOC=H13 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "DataA_N" LOC=H14 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "DataB_P" LOC=J11 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "DataB_N" LOC=J12 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;

#Trigger acknowledge coming from the event builder
NET "TrgIn_P" LOC=D5 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "TrgIn_N" LOC=C5 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;

#Serial command line coming from the event builder
NET "CmdIn_P" LOC=F7 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "CmdIn_N" LOC=E6 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;

#Hard reset signal coming from the event builder
NET "RST_P" LOC=F9 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "RST_N" LOC=D9 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;

#Trigger acknowledge signals going to the two sets of 6 ASICs
NET "Tack1_P" LOC=M9 | IOSTANDARD = LVDS_25;
NET "Tack1_N" LOC=N8 | IOSTANDARD = LVDS_25;
NET "Tack2_P" LOC=P4 | IOSTANDARD = LVDS_25;
NET "Tack2_N" LOC=T4 | IOSTANDARD = LVDS_25;

#Fast-OR signal going to the event builder (can be used for buffer clear on T boards)
NET "FastOR_P" LOC=B5 | IOSTANDARD = LVDS_25;
NET "FastOR_N" LOC=A5 | IOSTANDARD = LVDS_25;

#Output data stream going to the event builder
NET "Dout_P" LOC=B6 | IOSTANDARD = LVDS_25;
NET "Dout_N" LOC=A6 | IOSTANDARD = LVDS_25;

#Buffer clear signal going to the event builder, not connected on T boards
NET "U1_P" LOC=B10 | IOSTANDARD = LVDS_25;
NET "U1_N" LOC=A10 | IOSTANDARD = LVDS_25;

#Debugging signals routed to the 5-pin header on the tracker V board
NET "Debug1" LOC=E7;
NET "Debug2" LOC=E8;
NET "Debug3" LOC=E10;   #Not connected on T boards
NET "Debug4" LOC=C10;	#Not connected on T boards