NET "CLKIN_P" LOC = C9 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "CLKIN_N" LOC = A9 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;

NET "CLKOUT_P" LOC=P8 | IOSTANDARD = LVDS_25;
NET "CLKOUT_N" LOC=T8 | IOSTANDARD = LVDS_25;

NET "CMD_P" LOC=R9 | IOSTANDARD = LVDS_25;
NET "CMD_N" LOC=T9 | IOSTANDARD = LVDS_25;

NET "TReq0_P" LOC=M5 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "TReq0_N" LOC=N4 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;

NET "TReq1_P" LOC=R2 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "TReq1_N" LOC=R1 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;

NET "TReq2_P" LOC=P2 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "TReq2_N" LOC=P1 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;

NET "TReq3_P" LOC=N3 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "TReq3_N" LOC=N1 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;

NET "TReq4_P" LOC=M2 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "TReq4_N" LOC=M1 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;

NET "TReq5_P" LOC=L3 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "TReq5_N" LOC=L1 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;

NET "Data0_P" LOC=B15 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "Data0_N" LOC=B16 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;

NET "Data1_P" LOC=F12 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "Data1_N" LOC=G11 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;

NET "Data2_P" LOC=D14 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "Data2_N" LOC=D16 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;

NET "Data3_P" LOC=F13 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "Data3_N" LOC=F14 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;

NET "Data4_P" LOC=C15 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "Data4_N" LOC=C16 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;

NET "Data5_P" LOC=E15 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "Data5_N" LOC=E16 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;

NET "TrgIn_P" LOC=D5 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "TrgIn_N" LOC=C5 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;

NET "CmdIn_P" LOC=F7 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "CmdIn_N" LOC=E6 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;

NET "RST_P" LOC=P7 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "RST_N" LOC=M7 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;

NET "Tack_P" LOC=M9 | IOSTANDARD = LVDS_25;
NET "Tack_N" LOC=N8 | IOSTANDARD = LVDS_25;

NET "FastOR_P" LOC=B5 | IOSTANDARD = LVDS_25;
NET "FastOR_N" LOC=A5 | IOSTANDARD = LVDS_25;

NET "Dout_P" LOC=B6 | IOSTANDARD = LVDS_25;
NET "Dout_N" LOC=A6 | IOSTANDARD = LVDS_25;

NET "U1P" LOC=C7 | IOSTANDARD = LVDS_25;
NET "U1N" LOC=A7 | IOSTANDARD = LVDS_25;

NET "U2P" LOC=D6 |  IOSTANDARD = LVDS_25;
NET "U2N" LOC=C6 |  IOSTANDARD = LVDS_25;

NET "U3P" LOC=B8 |  IOSTANDARD = LVDS_25;
NET "U3N" LOC=A8 |  IOSTANDARD = LVDS_25;