#UCF file for the pCT event builder Virtex-6 FPGA.
#Maps the signals in pCT_EvtBuild.v onto the FPGA pins.
#Ford Hurley and Robert Johnson
#July 8, 2013
#July 24, 2013: modified for a 16-bit (instead of 12-bit) wide data word going to the ZestEt1
#August 2013: added constraints on the clock frequency and setup
#November 12, 2014: interface with TimePix

#Drive this node high to quiet down the platform flash
NET "FCS_B" LOC=Y24;  

#Incoming 200 MHz system clock, internal to the ML605 board
NET "SYSCLK_P" LOC = J9;
NET "SYSCLK_N" LOC = H9;

NET "CLK" TNM_NET = "CLK";
TIMESPEC "TS_CLK" = PERIOD "CLK" 10 ns HIGH 50%;
OFFSET = IN 10 ns VALID 9 ns BEFORE "CLK";

#Output to trigger external hardware
NET "TACKex" LOC=W34;  #J56 SMA 

#Single ended optional external trigger inhibit 
NET "TrgInhibit" LOC=V34;   #J57 SMA   

# GPIO switch center;  Manual reset switch
NET "RESET_SW" LOC = G26;

# GPIO led center, lights up when the reset switch is pushed
NET "RESET_LED" LOC = AP24;

#USB-1 UART connection
NET "UART_TX" LOC = J25;  
NET "UART_RX" LOC = J24;  

#Set of LEDs that flash according to the UART data byte received
NET "GPIO_LED[0]" LOC = AC22;
NET "GPIO_LED[1]" LOC = AC24;
NET "GPIO_LED[2]" LOC = AE22;
NET "GPIO_LED[3]" LOC = AE23;
NET "GPIO_LED[4]" LOC = AB23;
NET "GPIO_LED[5]" LOC = AG23;
NET "GPIO_LED[6]" LOC = AE24;
NET "GPIO_LED[7]" LOC = AD24;

#First Tracker Cassette, V Board
NET "DVI1_DATA_P"		LOC=AN19	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	C18	FMC_HPC_LA14_P Bank 22"
NET "DVI1_DATA_N"		LOC=AN20	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	C19	FMC_HPC_LA14_N"
NET "DVI1_CMD_P"		LOC=AP19	| IOSTANDARD = LVDS_25;  #	D17	FMC_HPC_LA13_P"
NET "DVI1_CMD_N"		LOC=AN18	| IOSTANDARD = LVDS_25;  #	D18	FMC_HPC_LA13_N"
NET "DVI1_RST_P"		LOC=AM18	| IOSTANDARD = LVDS_25;  #	D14	FMC_HPC_LA09_P"
NET "DVI1_RST_N"		LOC=AL18	| IOSTANDARD = LVDS_25;  #	D15	FMC_HPC_LA09_N"
NET "DVI1_TRIGGER_P"	LOC=AM20	| IOSTANDARD = LVDS_25;  #	C14	FMC_HPC_LA10_P"
NET "DVI1_TRIGGER_N"	LOC=AL20	| IOSTANDARD = LVDS_25;  #	C15	FMC_HPC_LA10_N"
NET "DVI1_FASTOR_P"		LOC=AG22	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	D11	FMC_HPC_LA05_P"
NET "DVI1_FASTOR_N"		LOC=AH22	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	D12	FMC_HPC_LA05_N"
NET "DVI1_U1_P"			LOC=AG20	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	C10	FMC_HPC_LA06_P"
NET "DVI1_U1_N"			LOC=AG21	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	C11	FMC_HPC_LA06_N"
NET "DVI1_I2C_CLK"		LOC=AB30;  #	E9	FMC_HPC_HA09_P"
NET "DVI1_I2C_DATA"		LOC=AB31;  #	E10	FMC_HPC_HA09_N"
NET "DVI1_CLK_P"		LOC=AN27	| IOSTANDARD = LVDS_25;  #	D20	FMC_HPC_LA17_CC_P"
NET "DVI1_CLK_N"		LOC=AM27	| IOSTANDARD = LVDS_25;  #	D21	FMC_HPC_LA17_CC_N"

#First Tracker Cassette, T Board
NET "DVI2_DATA1_P"		LOC=AD29	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	E2	FMC_HPC_HA01_CC_P Bank 13"
NET "DVI2_DATA1_N"		LOC=AC29	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	E3	FMC_HPC_HA01_CC_N"
NET "DVI2_CMD_P"		LOC=AB27	| IOSTANDARD = LVDS_25;  #	E6	FMC_HPC_HA05_P"
NET "DVI2_CMD_N"		LOC=AC27	| IOSTANDARD = LVDS_25;  #	E7	FMC_HPC_HA05_N"
NET "DVI2_RST_P"		LOC=AE33	| IOSTANDARD = LVDS_25;  #	F4	FMC_HPC_HA00_CC_P"
NET "DVI2_RST_N"		LOC=AF33	| IOSTANDARD = LVDS_25;  #	F5	FMC_HPC_HA00_CC_N"
NET "DVI2_TRIGGER_P"	LOC=AB28	| IOSTANDARD = LVDS_25;  #	F7	FMC_HPC_HA04_P"
NET "DVI2_TRIGGER_N"	LOC=AC28	| IOSTANDARD = LVDS_25;  #	F8	FMC_HPC_HA04_N"
NET "DVI2_FASTOR_P"		LOC=AF20	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	G6	FMC_HPC_LA00_CC_P"
NET "DVI2_FASTOR_N"		LOC=AF21	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	G7	FMC_HPC_LA00_CC_N"
NET "DVI2_DATA2_P"		LOC=AC19	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	G9	FMC_HPC_LA03_P Bank 22"
NET "DVI2_DATA2_N"		LOC=AD19	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	G10	FMC_HPC_LA03_N"
NET "DVI2_I2C_CLK"		LOC=AC20;  #	H7	FMC_HPC_LA02_P"
NET "DVI2_I2C_DATA"		LOC=AD20;  #	H8	FMC_HPC_LA02_N"
NET "DVI2_CLK_P"		LOC=AG31	| IOSTANDARD = LVDS_25;  #	F10	FMC_HPC_HA08_P"
NET "DVI2_CLK_N"		LOC=AF31	| IOSTANDARD = LVDS_25;  #	F11	FMC_HPC_HA08_N"

#Second Tracker Cassette, V Board	
NET "DVI3_DATA_P"		LOC=AK19	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	D8	FMC_HPC_LA01_CC_P Bank 22"
NET "DVI3_DATA_N"		LOC=AL19	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	D9	FMC_HPC_LA01_CC_N"
NET "DVI3_CMD_P"		LOC=AA25	| IOSTANDARD = LVDS_25;  #	J6	FMC_HPC_HA03_P"
NET "DVI3_CMD_N"		LOC=Y26		| IOSTANDARD = LVDS_25;  #	J7	FMC_HPC_HA03_N"
NET "DVI3_RST_P"		LOC=AB25	| IOSTANDARD = LVDS_25;  #	K7	FMC_HPC_HA02_P"
NET "DVI3_RST_N"		LOC=AC25	| IOSTANDARD = LVDS_25;  #	K8	FMC_HPC_HA02_N"
NET "DVI3_TRIGGER_P"	LOC=AA26	| IOSTANDARD = LVDS_25;  #	J9	FMC_HPC_HA07_P"
NET "DVI3_TRIGGER_N"	LOC=AB26	| IOSTANDARD = LVDS_25;  #	J10	FMC_HPC_HA07_N"
NET "DVI3_FASTOR_P"		LOC=AA28	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	K10	FMC_HPC_HA06_P"
NET "DVI3_FASTOR_N"		LOC=AA29	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	K11	FMC_HPC_HA06_N"
NET "DVI3_U1_P"			LOC=AF19	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	H10	FMC_HPC_LA04_P"
NET "DVI3_U1_N"			LOC=AE19	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	H11	FMC_HPC_LA04_N"
NET "DVI3_I2C_CLK"		LOC=AE31;  #	E12	FMC_HPC_HA13_P"
NET "DVI3_I2C_DATA"		LOC=AD31;  #	E13	FMC_HPC_HA13_N"
NET "DVI3_CLK_P"		LOC=AK22	| IOSTANDARD = LVDS_25;  #	G12	FMC_HPC_LA08_P"
NET "DVI3_CLK_N"		LOC=AJ22	| IOSTANDARD = LVDS_25;  #	G13	FMC_HPC_LA08_N"

#Second Tracker Cassette, T Board	
NET "DVI4_DATA1_P"		LOC=AG33	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	J12	FMC_HPC_HA11_P Bank 13"
NET "DVI4_DATA1_N"		LOC=AG32	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	J13	FMC_HPC_HA11_N"
NET "DVI4_CMD_P"		LOC=AK21	| IOSTANDARD = LVDS_25;  #	H13	FMC_HPC_LA07_P"
NET "DVI4_CMD_N"		LOC=AJ21	| IOSTANDARD = LVDS_25;  #	H14	FMC_HPC_LA07_N"
NET "DVI4_RST_P"		LOC=AD32	| IOSTANDARD = LVDS_25;  #	F13	FMC_HPC_HA12_P"
NET "DVI4_RST_N"		LOC=AE32	| IOSTANDARD = LVDS_25;  #	F14	FMC_HPC_HA12_N"
NET "DVI4_TRIGGER_P"	LOC=AD34	| IOSTANDARD = LVDS_25;  #	K13	FMC_HPC_HA10_P"
NET "DVI4_TRIGGER_N"	LOC=AC34	| IOSTANDARD = LVDS_25;  #	K14	FMC_HPC_HA10_N"
NET "DVI4_FASTOR_P"		LOC=AC33	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	E15	FMC_HPC_HA16_P"
NET "DVI4_FASTOR_N"		LOC=AB33	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	E16	FMC_HPC_HA16_N"
NET "DVI4_DATA2_P"		LOC=AM21	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	G15	FMC_HPC_LA12_P Bank 22"
NET "DVI4_DATA2_N"		LOC=AL21	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	G16	FMC_HPC_LA12_N"
NET "DVI4_I2C_CLK"		LOC=AA30;  #	J15	FMC_HPC_HA14_P"
NET "DVI4_I2C_DATA"		LOC=AA31;  #	J16	FMC_HPC_HA14_N"
NET "DVI4_CLK_P"		LOC=AB32	| IOSTANDARD = LVDS_25;  #	F16	FMC_HPC_HA15_P"
NET "DVI4_CLK_N"		LOC=AC32	| IOSTANDARD = LVDS_25;  #	F17	FMC_HPC_HA15_N"

#Third Tracker Cassette, T Board		
NET "DVI5_DATA1_P"		LOC=AK23	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	G21	FMC_HPC_LA20_P Bank 23"
NET "DVI5_DATA1_N"		LOC=AL24	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	G22	FMC_HPC_LA20_N"
NET "DVI5_CMD_P"		LOC=U28		| IOSTANDARD = LVDS_25;  #	J21	FMC_HPC_HA22_P"
NET "DVI5_CMD_N"		LOC=V29		| IOSTANDARD = LVDS_25;  #	J22	FMC_HPC_HA22_N"
NET "DVI5_RST_P"		LOC=AP32	| IOSTANDARD = LVDS_25;  #	F22	FMC_HPC_HB02_P"
NET "DVI5_RST_N"		LOC=AP33	| IOSTANDARD = LVDS_25;  #	F23	FMC_HPC_HB02_N"
NET "DVI5_TRIGGER_P"	LOC=AN25	| IOSTANDARD = LVDS_25;  #	H22	FMC_HPC_LA19_P"
NET "DVI5_TRIGGER_N"	LOC=AN24	| IOSTANDARD = LVDS_25;  #	H23	FMC_HPC_LA19_N"
NET "DVI5_FASTOR_P"		LOC=U26		| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	K22	FMC_HPC_HA23_P"
NET "DVI5_FASTOR_N"		LOC=U27		| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	K23	FMC_HPC_HA23_N"
NET "DVI5_DATA2_P"		LOC=AP27	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	G24	FMC_HPC_LA22_P Bank 23"
NET "DVI5_DATA2_N"		LOC=AP26	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	G25	FMC_HPC_LA22_N"
NET "DVI5_I2C_CLK"		LOC=AN32;  #	J24	FMC_HPC_HB01_P"
NET "DVI5_I2C_DATA"		LOC=AM32;  #	J25	FMC_HPC_HB01_N"
NET "DVI5_CLK_P"		LOC=AM33	| IOSTANDARD = LVDS_25;  #	F25	FMC_HPC_HB04_P"
NET "DVI5_CLK_N"		LOC=AL33	| IOSTANDARD = LVDS_25;  #	F26	FMC_HPC_HB04_N"

#Third Tracker Cassette, V Board
NET "DVI6_DATA_P"		LOC=AM22	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	H16	FMC_HPC_LA11_P Bank 22"
NET "DVI6_DATA_N"		LOC=AN22	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	H17	FMC_HPC_LA11_N"
NET "DVI6_CMD_P"		LOC=V30		| IOSTANDARD = LVDS_25;  #	K16	FMC_HPC_HA17_CC_P"
NET "DVI6_CMD_N"		LOC=W30		| IOSTANDARD = LVDS_25;  #	K17	FMC_HPC_HA17_CC_N"
NET "DVI6_RST_P"		LOC=V32		| IOSTANDARD = LVDS_25;  #	E18	FMC_HPC_HA20_P"
NET "DVI6_RST_N"		LOC=V33		| IOSTANDARD = LVDS_25;  #	E19	FMC_HPC_HA20_N"
NET "DVI6_TRIGGER_P"	LOC=AP22	| IOSTANDARD = LVDS_25;  #	G18	FMC_HPC_LA16_P"
NET "DVI6_TRIGGER_N"	LOC=AN23	| IOSTANDARD = LVDS_25;  #	G19	FMC_HPC_LA16_N"
NET "DVI6_FASTOR_P"		LOC=T33		| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	J18	FMC_HPC_HA18_P"
NET "DVI6_FASTOR_N"		LOC=T34		| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	J19	FMC_HPC_HA18_N"
NET "DVI6_U1_P"			LOC=U33		| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	F19	FMC_HPC_HA19_P"
NET "DVI6_U1_N"			LOC=U32		| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	F20	FMC_HPC_HA19_N"
NET "DVI6_I2C_CLK"		LOC=AM23;  #	H19	FMC_HPC_LA15_P"
NET "DVI6_I2C_DATA"		LOC=AL23;  #	H20	FMC_HPC_LA15_N"
NET "DVI6_CLK_P"		LOC=U31		| IOSTANDARD = LVDS_25;  #	K19	FMC_HPC_HA21_P"
NET "DVI6_CLK_N"		LOC=U30		| IOSTANDARD = LVDS_25;  #	K20	FMC_HPC_HA21_N"

#Fourth Tracker Cassette, T Board
NET "DVI7_DATA1_P"		LOC=AK27	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	H31	FMC_HPC_LA28_P Bank 23"
NET "DVI7_DATA1_N"		LOC=AJ27	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	H32	FMC_HPC_LA28_N"
NET "DVI7_CMD_P"		LOC=AF28	| IOSTANDARD = LVDS_25;  #	K31	FMC_HPC_HB10_P"
NET "DVI7_CMD_N"		LOC=AF29	| IOSTANDARD = LVDS_25;  #	K32	FMC_HPC_HB10_N"
NET "DVI7_RST_P"		LOC=AE28	| IOSTANDARD = LVDS_25;  #	J33	FMC_HPC_HB15_P"
NET "DVI7_RST_N"		LOC=AE29	| IOSTANDARD = LVDS_25;  #	J34	FMC_HPC_HB15_N"
NET "DVI7_TRIGGER_P"	LOC=AE27	| IOSTANDARD = LVDS_25;  #	K34	FMC_HPC_HB14_P"
NET "DVI7_TRIGGER_N"	LOC=AD27	| IOSTANDARD = LVDS_25;  #	K35	FMC_HPC_HB14_N"
NET "DVI7_FASTOR_P"		LOC=AG27	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	K37	FMC_HPC_HB17_CC_P"
NET "DVI7_FASTOR_N"		LOC=AG28	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	K38	FMC_HPC_HB17_CC_N"
NET "DVI7_DATA2_P"		LOC=AD25	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	J36	FMC_HPC_HB18_P Bank 12"
NET "DVI7_DATA2_N"		LOC=AD26	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	J37	FMC_HPC_HB18_N"
NET "DVI7_I2C_CLK"		LOC=AJ24;  #	H34	FMC_HPC_LA30_P"
NET "DVI7_I2C_DATA"		LOC=AK24;  #	H35	FMC_HPC_LA30_N"
NET "DVI7_CLK_P"		LOC=AG25	| IOSTANDARD = LVDS_25;  #	H37	FMC_HPC_LA32_P"
NET "DVI7_CLK_N"		LOC=AG26	| IOSTANDARD = LVDS_25;  #	H38	FMC_HPC_LA32_N"

#Fourth Tracker Cassette, V Board
NET "DVI8_DATA_P"		LOC=AN29	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	H25	FMC_HPC_LA21_P Bank 23"
NET "DVI8_DATA_N"		LOC=AP29	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	H26	FMC_HPC_LA21_N"
NET "DVI8_CMD_P"		LOC=AF30	| IOSTANDARD = LVDS_25;  #	K25	FMC_HPC_HB00_CC_P"
NET "DVI8_CMD_N"		LOC=AG30	| IOSTANDARD = LVDS_25;  #	K26	FMC_HPC_HB00_CC_N"
NET "DVI8_RST_P"		LOC=AN28	| IOSTANDARD = LVDS_25;  #	G27	FMC_HPC_LA25_P"
NET "DVI8_RST_N"		LOC=AM28	| IOSTANDARD = LVDS_25;  #	G28	FMC_HPC_LA25_N"
NET "DVI8_TRIGGER_P"	LOC=AJ34	| IOSTANDARD = LVDS_25;  #	J27	FMC_HPC_HB07_P"
NET "DVI8_TRIGGER_N"	LOC=AH34	| IOSTANDARD = LVDS_25;  #	J28	FMC_HPC_HB07_N"
NET "DVI8_FASTOR_P"		LOC=AK33	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	F28	FMC_HPC_HB08_P"
NET "DVI8_FASTOR_N"		LOC=AK32	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	F29	FMC_HPC_HB08_N"
NET "DVI8_U1_P"			LOC=AN30	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	H28	FMC_HPC_LA24_P"
NET "DVI8_U1_N"			LOC=AM30	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	H29	FMC_HPC_LA24_N"
NET "DVI8_I2C_CLK"		LOC=AF26;  #	K28	FMC_HPC_HB06_CC_P"
NET "DVI8_I2C_DATA"		LOC=AE26;  #	K29	FMC_HPC_HB06_CC_N"
NET "DVI8_CLK_P"		LOC=AJ29	| IOSTANDARD = LVDS_25;  #	J30	FMC_HPC_HB11_P"
NET "DVI8_CLK_N"		LOC=AJ30	| IOSTANDARD = LVDS_25;  #	J31	FMC_HPC_HB11_N"

#First Energy Digitizer Board		
NET "DVI9_DATA_P"		LOC=AH33	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	E30	FMC_HPC_HB13_P Bank 12"
NET "DVI9_DATA_N"		LOC=AH32	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	E31	FMC_HPC_HB13_N"
NET "DVI9_CMD_P"		LOC=AL34	| IOSTANDARD = LVDS_25;  #	E27	FMC_HPC_HB09_P"
NET "DVI9_CMD_N"		LOC=AK34	| IOSTANDARD = LVDS_25;  #	E28	FMC_HPC_HB09_N"
NET "DVI9_DATA2_P"	LOC=AM25	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	D26	FMC_HPC_LA26_P Bank 23"
NET "DVI9_DATA2_N"	LOC=AL25	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	D27	FMC_HPC_LA26_N"
NET "DVI9_TRIGGER_P"	LOC=AP30	| IOSTANDARD = LVDS_25;  #	C26	FMC_HPC_LA27_P"
NET "DVI9_TRIGGER_N"	LOC=AP31	| IOSTANDARD = LVDS_25;  #	C27	FMC_HPC_LA27_N"
NET "DVI9_FASTOR_P"		LOC=AN33	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	E24	FMC_HPC_HB05_P"
NET "DVI9_FASTOR_N"		LOC=AN34	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	E25	FMC_HPC_HB05_N"
NET "DVI9_CLKDIGI_P"		LOC=AL26	| IOSTANDARD = LVDS_25;  #	D23	FMC_HPC_LA23_P This gets used for hard reset if no external clock
NET "DVI9_CLKDIGI_N"		LOC=AM26	| IOSTANDARD = LVDS_25;  #	D24	FMC_HPC_LA23_N"
NET "DVI9_I2C_CLK"		LOC=AH25;  #	C22	FMC_HPC_LA18_CC_P"
NET "DVI9_I2C_DATA"		LOC=AJ25;  #	C23	FMC_HPC_LA18_CC_N"
NET "DVI9_CLK_P"		LOC=AL30	| IOSTANDARD = LVDS_25;  #	E21	FMC_HPC_HB03_P"
NET "DVI9_CLK_N"		LOC=AM31	| IOSTANDARD = LVDS_25;  #	E22	FMC_HPC_HB03_N"

#Second Energy Digitizer Board
NET "DVI10_DATA_P"		LOC=AL28	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	G30	FMC_HPC_LA29_P "
NET "DVI10_DATA_N"		LOC=AK28	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	G31	FMC_HPC_LA29_N"
NET "DVI10_CMD_P"		LOC=AL29	| IOSTANDARD = LVDS_25;  #	G33	FMC_HPC_LA31_P"
NET "DVI10_CMD_N"		LOC=AK29	| IOSTANDARD = LVDS_25;  #	G34	FMC_HPC_LA31_N"
NET "DVI10_DATA2_P"	LOC=AH23	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	G36	FMC_HPC_LA33_P Bank 23"
NET "DVI10_DATA2_N"	LOC=AH24	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	G37	FMC_HPC_LA33_N"
NET "DVI10_TRIGGER_P"	LOC=AJ31	| IOSTANDARD = LVDS_25;  #	F31	FMC_HPC_HB12_P"
NET "DVI10_TRIGGER_N"	LOC=AJ32	| IOSTANDARD = LVDS_25;  #	F32	FMC_HPC_HB12_N"
NET "DVI10_FASTOR_P"	LOC=AH29	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	F34	FMC_HPC_HB16_P"
NET "DVI10_FASTOR_N"	LOC=AH30	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	F35	FMC_HPC_HB16_N"
NET "DVI10_CLKDIGI_P"		LOC=K26		| IOSTANDARD = LVDS_25;  #	G6	FMC_LPC_LA00_CC_P This gets used for hard reset if no external clock
NET "DVI10_CLKDIGI_N"		LOC=K27		| IOSTANDARD = LVDS_25;  #	G7	FMC_LPC_LA00_CC_N"
NET "DVI10_I2C_CLK"		LOC=AL31;  #	E33	FMC_HPC_HB19_P"
NET "DVI10_I2C_DATA"	LOC=AK31;  #	E34	FMC_HPC_HB19_N"
NET "DVI10_CLK_P"		LOC=G31		| IOSTANDARD = LVDS_25;  #	H7	FMC_LPC_LA02_P"
NET "DVI10_CLK_N"		LOC=H30		| IOSTANDARD = LVDS_25;  #	H8	FMC_LPC_LA02_N"

#Digitizer clock input from the PLL that locks onto the beam RF
NET "ACCEL_CLK_P"	LOC=F31	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	D8	FMC_LPC_LA01_CC_P"
NET "ACCEL_CLK_N"	LOC=E31	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	D9	FMC_LPC_LA01_CC_N"

#i2c outputs for programming the PLL chip used to generate a digitizer clock from the beam
#RF signal.  These need to be held in a high impedance state if the programming is instead done
#by the USB interface.
NET "CLK_SDA"	LOC=K33;  #	C10	FMC_LPC_LA06_P"
NET "CLK_SCL"	LOC=K34;  #	C11	FMC_LPC_LA06_N"

#i2c from the 2nd USB port of the mezzanine card.  These can be routed by the FPGA
#to any of the front-end boards, if needed.
NET "SDA"		LOC=H34;  #	D11	FMC_LPC_LA05_P"
NET "SCL"		LOC=H33;  #	D12	FMC_LPC_LA05_N"

#Differential pairs going to/from the Zest-ET1 Ethernet board
NET "ETH_0_P"	LOC=J31	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	G9	FMC_LPC_LA03_P"
NET "ETH_0_N"	LOC=J32	| IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;  #	G10	FMC_LPC_LA03_N"
NET "ETH_4_P"	LOC=J30	| IOSTANDARD = LVDS_25 ;  #	G12	FMC_LPC_LA08_P"
NET "ETH_4_N"	LOC=K29	| IOSTANDARD = LVDS_25 ;  #	G13	FMC_LPC_LA08_N"
NET "ETH_8_P"	LOC=E32	| IOSTANDARD = LVDS_25 ;  #	G15	FMC_LPC_LA12_P"
NET "ETH_8_N"	LOC=E33	| IOSTANDARD = LVDS_25 ;  #	G16	FMC_LPC_LA12_N"
NET "ETH_12_P"	LOC=A33	| IOSTANDARD = LVDS_25 ;  #	G18	FMC_LPC_LA16_P"
NET "ETH_12_N"	LOC=B33	| IOSTANDARD = LVDS_25 ;  #	G19	FMC_LPC_LA16_N"
NET "ETH_16_P"	LOC=P29	| IOSTANDARD = LVDS_25 ;  #	G21	FMC_LPC_LA20_P"
NET "ETH_16_N"	LOC=R29	| IOSTANDARD = LVDS_25 ;  #	G22	FMC_LPC_LA20_N"
NET "ETH_1_P"	LOC=N27	| IOSTANDARD = LVDS_25 ;  #	G24	FMC_LPC_LA22_P"
NET "ETH_1_N"	LOC=P27	| IOSTANDARD = LVDS_25 ;  #	G25	FMC_LPC_LA22_N"
NET "ETH_5_P"	LOC=P31	| IOSTANDARD = LVDS_25 ;  #	G27	FMC_LPC_LA25_P"
NET "ETH_5_N"	LOC=P30	| IOSTANDARD = LVDS_25 ;  #	G28	FMC_LPC_LA25_N"
NET "ETH_9_P"	LOC=N34	| IOSTANDARD = LVDS_25 ;  #	G30	FMC_LPC_LA29_P"
NET "ETH_9_N"	LOC=P34	| IOSTANDARD = LVDS_25 ;  #	G31	FMC_LPC_LA29_N"
NET "ETH_13_P"	LOC=M31	| IOSTANDARD = LVDS_25 ;  #	G33	FMC_LPC_LA31_P"
NET "ETH_13_N"	LOC=L31	| IOSTANDARD = LVDS_25 ;  #	G34	FMC_LPC_LA31_N"
NET "ETH_17_P"	LOC=K32	| IOSTANDARD = LVDS_25 ;  #	G36	FMC_LPC_LA33_P"
NET "ETH_17_N"	LOC=K31	| IOSTANDARD = LVDS_25 ;  #	G37	FMC_LPC_LA33_N"
		
NET "ETH_2_P"	LOC=K28	| IOSTANDARD = LVDS_25 ;  #	H10	FMC_LPC_LA04_P"
NET "ETH_2_N"	LOC=J29	| IOSTANDARD = LVDS_25 ;  #	H11	FMC_LPC_LA04_N"
NET "ETH_6_P"	LOC=G32	| IOSTANDARD = LVDS_25 ;  #	H13	FMC_LPC_LA07_P"
NET "ETH_6_N"	LOC=H32	| IOSTANDARD = LVDS_25 ;  #	H14	FMC_LPC_LA07_N"
NET "ETH_10_P"	LOC=D31	| IOSTANDARD = LVDS_25 ;  #	H16	FMC_LPC_LA11_P"
NET "ETH_10_N"	LOC=D32	| IOSTANDARD = LVDS_25 ;  #	H17	FMC_LPC_LA11_N"
NET "ETH_14_P"	LOC=C32	| IOSTANDARD = LVDS_25 ;  #	H19	FMC_LPC_LA15_P"
NET "ETH_14_N"	LOC=B32	| IOSTANDARD = LVDS_25 ;  #	H20	FMC_LPC_LA15_N"
NET "ETH_18_P"	LOC=M30	| IOSTANDARD = LVDS_25 ;  #	H22	FMC_LPC_LA19_P"
NET "ETH_18_N"	LOC=N30	| IOSTANDARD = LVDS_25 ;  #	H23	FMC_LPC_LA19_N"
NET "ETH_3_P"	LOC=R26	| IOSTANDARD = LVDS_25 ;  #	H25	FMC_LPC_LA21_P"
NET "ETH_3_N"	LOC=T26	| IOSTANDARD = LVDS_25 ;  #	H26	FMC_LPC_LA21_N"
NET "ETH_7_P"	LOC=N32	| IOSTANDARD = LVDS_25 ;  #	H28	FMC_LPC_LA24_P"
NET "ETH_7_N"	LOC=P32	| IOSTANDARD = LVDS_25 ;  #	H29	FMC_LPC_LA24_N"
NET "ETH_11_P"	LOC=N33	| IOSTANDARD = LVDS_25 ;  #	H31	FMC_LPC_LA28_P"
NET "ETH_11_N"	LOC=M33	| IOSTANDARD = LVDS_25 ;  #	H32	FMC_LPC_LA28_N"
NET "ETH_15_P"	LOC=M26	| IOSTANDARD = LVDS_25 ;  #	H34	FMC_LPC_LA30_P"
NET "ETH_15_N"	LOC=M27	| IOSTANDARD = LVDS_25 ;  #	H35	FMC_LPC_LA30_N"
NET "ETH_19_P"	LOC=N25	| IOSTANDARD = LVDS_25 ;  #	H37	FMC_LPC_LA32_P"
NET "ETH_19_N"	LOC=M25	| IOSTANDARD = LVDS_25 ;  #	H38	FMC_LPC_LA32_N"
